.certificatesGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 25%;
    width: 100%;
    height: 100%;
}

.certificateImages{
    width: 100%;
    height: auto;
    transition: all 0.5s;
    cursor: pointer;
    align-self: top;
    justify-self: flex-start;
}

.certificateImages:hover{
    transform: scale(1.1);
}

.certificateCard{
    height: auto;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    column-gap: 5%;
}

.certificate:hover{
    transform: scale(1.05);
}

.detailCert{
    text-align: left;
    color: #414141;
    align-self: top;
    justify-self: flex-start;
}

.detailTitle{
    font-weight: bold;
    font-size: 2rem;
}

.detailSchool{
    font-size: 1.5rem;
    font-weight: light;
}

@media (max-width: 900px) {
    .certificateCard{
        height: 100%;
        width: 100%;
        transition: all 0.5s;
        cursor: pointer;
        display: grid;
        grid-template-columns: 65% 35%;
        grid-auto-rows: 1fr;
        justify-items: center;
        align-items: top;
        justify-content: center;
        column-gap: 5%;
    }

    .detailCert{
        text-align: left;
        margin: 0;
        justify-self: flex-start;
    }

    .detailTitle{
        font-weight: bold;
        font-size: 1rem;
    }
    
    .detailSchool{
        font-size: .5rem;
        font-weight: light;
    }

    .certificateImages{
        width: 100%;
        height: auto;
        margin: 0 5% 0 5%;
        transition: all 0.5s;
        cursor: pointer;
    }
}