.certificatesGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 30%;
    width: 100%;
    height: 100%;
    row-gap: 1%;
}

.certificateImages{
    height: 100%;
    width: 100%;
    margin: 5% 5% 1% 5%;
}

.imageContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificateCard{
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;

}

.certificate:hover{
    transform: scale(1.05);
}

.detailCert{
    text-align: left;
    margin: 2% 1% 5% 0;
    color: white;
}

.detailTitle{
    font-weight: bold;
    font-size: 2rem;
}

.detailSchool{
    font-size: 1.5rem;
    font-weight: light;
}

