.certificatesGrid{
    margin: 3% 0 1% 0;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    justify-content: center;
    column-gap: 1%;
}

.certificateImages{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.certificate{
    height: 40%;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
}

.certificate:hover{
    transform: scale(1.05);
}

.titleCert{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin: 5% 0 5% 0;
    color: white;
}

