.customButtons{
    margin: 0;
    height: 100%;
    width: 100%;
    color: #414141;
    font-weight: light;
    border: none;
    cursor: pointer;
    user-select: none;
}

.customButtons:hover{
    background-color: #B1B1B1;
}

.customButtons:active{
    background-color: #B1B1B1;
}

.customSelectedButton{
    margin: 0;
    height: 100%;
    width: 100%;
    color: #414141;
    background-color: #B1B1B1;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
}

.buttonSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    height: 100%;
    width: 100%;
}