.headerDiv{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: larger;
    color: white;
    justify-content: center;
}

.sectionsBody{
    height: 100%;
    width: 100%;
    margin: 0 0 0 20vw;
}

.contentNavigator{
    height: 100%;
    width: 93%;
    margin: 0 3% 0 3%;
    display: flex;
}

@media (max-width: 1010px) {

    .sectionsBody{
        height: 100%;
        width: 100%;
        margin: 0 0 0 0;
    }
    
}