.headerDiv{
    height: 10%;
    width: 100%;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: #414141;
    justify-content: center;
    box-shadow: 6px 1px 19px 8px #7f62a0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.headerTitle{
    height: 100%;
    width: 100%;
    border-bottom: #414141 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerSubMenu{
    position: sticky;
    height: 50%;
    width: 100%;
    justify-self: flex-start;

}

.sectionsBody{
    height: 100%;
    width: 100%;
    margin: 0 0 0 20vw;
    overflow-y: scroll;
}

.contentNavigator{
    height: 100%;
    width: 100%;
    display: flex;
}

@media (max-width: 1010px) {
    .sectionsBody{
        height: 100%;
        width: 100%;
        margin: 0 0 0 0;
    }
    
}