@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Profile picture */
.profilePic{
    width: 12vw;
    height: 20vh;
    border-radius: 50%;
    margin: 10%;
    background-color: white;
    border: 3px solid transparent;
    border-color: rgb(210, 210, 210);
    background-image: url("/src/assets/images/profilePic.webp");
    background-size: cover;
    background-position: center;
}


/* Navbar */
.navbar{
    position: fixed;
    width: 20vw;
    height: 100%;
    background-image: linear-gradient(to right top, #4f3d63, #5a3d84, #623ca6, #663acb, #6538f1);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 6px 1px 19px 8px #7f62a0;
    border-right: #ecdcff 2px solid;
}

.socialHandlesContainer{
    position: absolute;
    bottom: 2%;
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: center;
}

.socialHandles{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    filter: grayscale(100%) brightness(50%);
    transition: all 0.5s;
    cursor: pointer;
}

.socialHandles:hover{
    filter: grayscale(0%) brightness(110%);
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.6);
}

.socialHandles:active{
    filter: grayscale(0%) brightness(110%);
    transform: scale(0.9);
    box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.6);
}

.customUl{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    color: white;
}

li{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myName{
    color: white;
    margin: 5% 0 15% 0;
    font-weight: bolder;
}

.buttonDiv{
    display: flex;
    height: 70%;
    width: 100%;
    align-items: center;
}

.buttonIcon{
    max-width: 10%;
    max-height: 100%;
    margin: 0 5% 0 5%;
    filter: invert(100%);
}

button{
    cursor: pointer;
    background-color: #4f3d63;
    color: white;
    font-weight: bolder;
    width: 70%;
    margin: 5%;
    height: 5vh;
    transition: all 0.5s;
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    font-size: 0.9rem;
    user-select: none;
}

button:hover{
    transform: scale(1.1);
    animation: borderMovement 1s linear infinite;
    box-shadow: 0px 0px 15px 2px rgba(46,46,46,0.6);
}

button:active{
    transform: scale(0.9);
    animation: borderMovement 2s linear infinite;
    box-shadow: 0px 0px 15px 2px rgba(46,46,46,0.6);
}

@keyframes borderMovement{
    20%{
        border-image: linear-gradient(to bottom right, #fd1892 0%, #b827fc 25%, #2c90fc 50%, #b8fd33 75%, #fec837 100%);
        border-image-slice: 1;
    }
    40%{
        border-image: linear-gradient(to bottom right, #fec837 0%, #fd1892 25%, #b827fc 50%, #2c90fc 75%, #b8fd33 100%);
        border-image-slice: 1;
    }
    60%{
        border-image: linear-gradient(to bottom right, #b8fd33 0%, #fec837 25%, #fd1892 50%, #b827fc 75%, #2c90fc 100%);
        border-image-slice: 1;
    }
    80%{
        border-image: linear-gradient(to bottom right, #2c90fc 0%, #b8fd33 25%, #fec837 50%, #fd1892 75%, #b827fc 100%);
        border-image-slice: 1;
    }
}

@media (min-width: 385px) and (max-width: 1010px) {
    .navbar{
        width: 100%;
        height: 10%;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: #ecdcff 2px solid;
    }

    .profilePic{
        display: none;
    }

    ul{
        list-style-type: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        user-select: none;
        color: white;
        min-width: 100%;
    }

    .myName{
        display: none;
    }

    button{
        cursor: pointer;
        color: white;
        background-color: transparent;
        font-weight: bold;
        width: 100%;
        height: 10%;
        transition: all 0.5s;
        border: 2px solid transparent;
        font-size: 0.8rem;
    }

    button:hover{
        transform: none;
        animation: none;
        box-shadow: none;
    }

    .buttonIcon{
        height: 2rem;
        min-width: 2rem;
        margin: 0 5% 5% 5%;
        filter: invert(100%);
        transition: all 0.5s;
        cursor: pointer;
    }

    .buttonIcon:hover{
        transform: scale(1.2);
    }

    li{
        width: 100%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profilePicLi{
        display: none;
    }

    .buttonDiv{
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 100%;
        align-items: center;
    }

    .socialHandlesContainer{
        display: none;
    }
}

@media (max-width: 385px) {
    .navbar{
        width: 100%;
        height: 10%;
        position: fixed;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-top: #ecdcff 2px solid;
    }

    .profilePic{
        display: none;
    }

    ul{
        list-style-type: none;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        user-select: none;
        color: white;
        min-width: 100%;
    }

    .myName{
        display: none;
    }

    button{
        cursor: pointer;
        color: white;
        background-color: transparent;
        font-weight: bold;
        width: 100%;
        height: 10%;
        transition: all 0.5s;
        border: 2px solid transparent;
        font-size: 0.6rem;
    }

    .buttonIcon{
        height: 1.5rem;
        min-width: 1.5rem;
        margin: 0 5% 5% 5%;
        filter: invert(100%);
    }

    li{
        width: 100%;
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profilePicLi{
        display: none;
    }

    .buttonDiv{
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 100%;
        align-items: center;
    }

    .socialHandlesContainer{
        display: none;
    }
}