.customButtons{
    margin: 0;
    height: 100%;
    width: 100%;
    color: #414141;
    font-weight: light;
    border: none;
    cursor: pointer;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.customButtons:hover{
    background-color: rgba(177, 177, 177, 0.7);
    backdrop-filter: blur(5px);
}

.customButtons:active{
    background-color: rgba(177, 177, 177, 0.7);
    backdrop-filter: blur(5px);
}

.customSelectedButton{
    margin: 0;
    height: 100%;
    width: 100%;
    color: #414141;
    background-color: rgba(177, 177, 177, 0.7);
    backdrop-filter: blur(5px);
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
}

.buttonSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    height: 100%;
    width: 100%;
    border-bottom: #414141 solid 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}