.certifications{
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 80%;
    row-gap: 0;
    width: 100%;
    height: 100%;
}

.customButtons{
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    cursor: pointer;
    user-select: none;
}

.customButtons:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.customButtons:active{
    background-color: rgba(0, 0, 0, 0.6);
}

.customSelectedButton{
    margin: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    user-select: none;
}

.buttonSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    height: 100%;
    width: 100%;
}

.certificationsContainer{
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    height: 100%;
    width: 100%;
}