.experienceBody{
    height: 100%;
    margin: 0 5% 5% 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 20%;
    row-gap: 1%;
}

.experienceCardJob{
    border-radius: 12px;
    border: 3px solid #686868;
    background-color: white;
    margin: 1%;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
    transition: all 0.5s;
    cursor: pointer;
    padding: 1%;
}

.experienceCardJob:hover{
    transform: scale(1.05);
}

.experienceCardJobText{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.arrowDown{
    height: 30%;
    width: 30%;
    transition: all 0.5s;
}

.arrowDown:hover{
    transform: scale(1.2);
}

.experienceCardJobArrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experienceCardJob:hover{
    transform: scale(1.05);
}

.experienceCard{
    border-radius: 12px;
    border: 3px solid #686868;
    background-color: white;
    margin: 1%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}

.experienceCard:hover{
    transform: scale(1.01);
}

.logoClass{
    height: 80%;
    width: 80%;
    align-self: center;
    justify-self: center;
}