.experienceBody{
    height: 100%;
    width: 100%;
    margin: 5%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 10%;
    row-gap: 1%;
}

.textCard{
    font-size: medium;
}

.jobDescription{
    font-size: small;
    opacity: 0%;
    grid-column: 2 span;
    transition: all 0.5s;
    text-align: left;
}

.experienceCardJob{
    border: 3px solid #686868;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    margin: 0.7% 1% 0 1%;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
    transition: all 0.5s;
    cursor: pointer;
    padding: 1%;
    transition: all 0.8s;
}

.experienceCardJob:hover{
    transform: scale(1.05);
}

.experienceCardJobText{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: small;
    transition: all 0.5s;
}

.arrowDown{
    height: 60%;
    width: auto;
    transition: all 0.5s;
}

.arrowDown:hover{
    transform: scale(1.2);
}

.experienceCardJobArrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experienceCardJob:hover{
    transform: scale(1.05);
}

.experienceCard{
    border: 3px solid #686868;
    background-color: white;
    margin: 1%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    align-items: center;
    transition: all 0.5s;
    cursor: pointer;
}

@media (max-width: 1010px) {
    .experienceCard{
        grid-template-columns: 30% 40% 30%;
    }

    .textCard{
        font-size: x-small;
    }

    .experienceCardJobText{
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: x-small;
        transition: all 0.5s;
    }

    .jobDescription{
        font-size: x-small;
        opacity: 0%;
        grid-column: 2 span;
        transition: all 0.5s;
        text-align: left;
    }

    .experienceh2{
        font-size: small;
    }
}

.experienceCard:hover{
    transform: scale(1.01);
}

.logoClass{
    height: 100%;
    width: auto;
    align-self: center;
    justify-self: center;
}